@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: rgb(43, 44, 63);
}

p,
label {
    font-weight: 300;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
}

header {
    padding: 20px;
    background-color: rgb(43, 44, 63);
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.container-newsletter {
    padding-top: 25px;
    padding-bottom: 35px;
    text-align: center;
    line-height: 1.3;
    border-bottom: solid 5px;
}

.container-newsletter p {
    padding: 15px;
}

form {
    padding-top: 20px;
    margin-top: 3px;
    border-top: solid 3px;
}

fieldset {
    border: none;
    margin: 3px 10px 10px 10px;
}

.contact input,
.contact select {
    width: 100%;
    font-size: 1.5em;
}

input,
select,
textarea {
    display: block;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
}