@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: rgb(43, 44, 63);
}

main {
    max-width: 500px;
    margin: auto;
}

p,
label {
    font-weight: 300;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: .5em;
}

h2 {
    font-size: 1.5em;
}

header {
    padding: 20px;
    background-color: #5F939A;
    color: rgb(43, 44, 63);
    text-align: center;
    text-transform: uppercase;
}

#zip {
    margin-bottom: 40px;
    width: 50%;
}

.container-newsletter {
    padding-top: 25px;
    padding-bottom: 35px;
    text-align: center;
    line-height: 1.3;
    border-bottom: solid 5px;
}

.container-newsletter p {
    padding: 15px;
}

form {
    padding-top: 20px;
    margin-top: 3px;
    border-top: solid 3px;
}

fieldset {
    border: none;
    margin: 3px 10px 10px 10px;
}

.contact input,
.contact select {
    width: 100%;
    font-size: 1.3em;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #EDFFEC;
}

.contact label {
    display: block;
    margin-top: 1.2em;
    margin-bottom: .5em;
}

::placeholder {
    display: block;
    padding-right: 1em;
    text-align: right;
    font-size: .8em;
    font-weight: 300;
    font-style: italic;

}

.newsletter legend {
    padding: 1em 0 .5em;
    width: 100%;
    border-top: 3px solid;
}

.newsletter p {
    padding: 1.4em 0 .8em;
    font-size: 1.1em;
}

.newsletter label {
    padding-left: .8em;
}
.newsletter label:last-of-type {
    display: block;
    margin: 1.4em 0 .8em;
    padding: 5px 0 5px;
}

.newsletter textarea {
    font-size: 1.3em;
    width: 100%;
    height: 5em;
    border-radius: 5px;
    background-color: #EDFFEC;
}

button {
    padding: 15px 0;
    margin: 25px 0 10px;
    background-color: #5F939A;
    color: rgb(43, 44, 63);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

footer p {
    margin: 10px 0 20px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

input,
select,
textarea {
    display: block;
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    box-shadow: 0 8px 8px -1px #5F939A;
    /* border-bottom: solid 3px #5F939A; */
    transition: .3s;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    margin: .7em 0;
    color: #EDFFEC;
}


/* Media Queries */

@media (min-width: 768px) {
    /* main {
        max-width: 70%;
        width: auto;
        text-align: center;
    } */


    .contact {
        display: flex;
        flex-wrap: wrap;
    }
    .contact input, 
    .contact select {
        flex: 80%;
        margin: 10px 0 10px;
    }
    .contact label {
        flex: 20%;
    }

    /* this took me almost 2 hours to figure out */
    .contact input:last-of-type {
        max-width: 25%;
    }
    .contact label:last-of-type  {
        max-width: 20%;
    }

}